<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" href="/mycloudmongo/static/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" href="/mycloudmongo/static/css/bootstrap-theme.min.css"
          rel="stylesheet"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link th:href="@{/image/favicon.ico}" href="/mycloudmongo/static/image/favicon.ico" rel="shortcut icon"
          type="image/ico"/>
    <style>
        .top {
            position: fixed;
            display: block;
            right: 1em;
            bottom: 1em;
            width: 3em;
            text-align: center;
            line-height: 3em;
            font-size: 1.5em;
            border-radius: 100%;
            background-color: rgba(220, 220, 220, 0.8);
        }

        .bottom {
            position: fixed;
            display: block;
            right: 1em;
            top: 1em;
            width: 3em;
            text-align: center;
            line-height: 3em;
            font-size: 1.5em;
            border-radius: 100%;
            background-color: rgba(220, 220, 220, 0.8);
        }
    </style>
    <title th:text="${title}">global</title>
</head>
<body>
<div class="container">

    <div class="row" th:fragment="navigation">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img th:src="@{/image/favicon.ico}" src="/mycloudmongo/static/image/favicon.ico"
                         class="navbar-brand"/>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/file}" class="navbar-brand">文件列表</a></li>
                    <li><a th:href="@{/log}" class="navbar-brand">日志列表</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button th:onclick="'javascript:try{synchronize();}catch(err){alert(\'发生了一个异常:\n\'+err);}'"
                                class="btn btn-info navbar-btn">
                            同步<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li>
                        <button th:onclick="'javascript:try{restoreAll();}catch(err){alert(\'发生了一个异常:\n\'+err);}'"
                                class="btn btn-info navbar-btn">
                            全部<b>恢复</b><span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li>
                        <button th:onclick="'javascript:try{backupAll();}catch(err){alert(\'发生了一个异常:\n\'+err);}'"
                                class="btn btn-warning navbar-btn">
                            全部<b>备份</b><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li><p class="navbar-text">我的文件床 mycloud</p></li>
                </ul>
            </div>
        </nav>
        <br/>
    </div>


    <div class="row" th:fragment="addFileForm">
        <div class="page-header">
            <h3>上传文件</h3>
        </div>
        <form th:action="@{/api/addFile}" method="post" id="addFileForm" class="form-horizontal" role="form"
              enctype="multipart/form-data" onsubmit="return false;">
            <div class="form-group">
                <label class="col-sm-2 control-label">上传文件</label>
                <div class="col-sm-10">
                    <input type="file" name="file" id="addFileFormFile" class="form-control" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上传日期</label>
                <div class="col-sm-10">
                    <input th:value="${#dates.format(new java.util.Date(),'yyyy-MM-dd')}" type="date" name="pathDate"
                           id="addFileFormPathDate" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                    <textarea name="description" id="addFileFormDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default"
                            onclick="try{uploadFile();}catch(err){alert('发生了一个异常:\n'+err);}">上传
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="row" th:fragment="addHttpUrlForm">
        <div class="page-header">
            <h3>上传链接</h3>
        </div>
        <form th:action="@{/api/addHttpUrl}" method="post" id="addHttpUrlForm" class="form-horizontal" role="form"
              onsubmit="return false;">
            <div class="form-group">
                <label class="col-sm-2 control-label">链接</label>
                <div class="col-sm-10">
                    <input type="text" name="httpUrl" id="addHttpUrlFormUrl" class="form-control" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上传日期</label>
                <div class="col-sm-10">
                    <input th:value="${#dates.format(new java.util.Date(),'yyyy-MM-dd')}" type="date" name="pathDate"
                           id="addHttpUrlFormPathDate" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                    <textarea name="description" id="addHttpUrlFormDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default"
                            onclick="try{uploadHttpUrl();}catch(err){alert('发生了一个异常:\n'+err);}">上传
                    </button>
                </div>
            </div>
        </form>
    </div>

    
    <div class="row" th:fragment="listFile">
        <div id="listFile">
            <div class="col-sm-12 col-md-4" v-for="file in files">
                <div class="thumbnail">
                    <a :href="file.url" target="_blank"><img :alt="file.filename" :src="file.url" class="img-responsive"/></a>
                    <div class="caption">
                        <p>文件名: <code>{{ file.filename }}</code></p>
                        <p>路径日期: <code>{{ new Date(file.pathDate).format("yyyy-MM-dd") }}</code></p>
                        <p>链接: <pre><code>{{ file.url }}</code></pre></p>
                        <p>文件位置: <code>{{ file.file }}</code></p>
                        <p>id: <code>{{ file.id }}</code></p>
                        <p>文件类型: <code>{{ file.contentType }}</code></p>
                        <p>上传日期: <code>{{ new Date(file.uploadDate).format("yyyy-MM-dd hh:mm:ss") }}</code></p>
                        <p>文件大小: <code>{{ file.length }}B</code></p>
                        <p>MD5: <code>{{ file.md5 }}</code></p>
                        <p>描述: <code>{{ file.description }}</code></p>
                        <p>
                            <button v-on:click="restore(file.id,file.filename)" type="button" class="btn btn-info">
                                恢复<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                            </button>
                            <button v-on:click="backup(file.id,file.filename)" type="button"
                                    class="btn btn-warning">
                                备份<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            </button>
                            <button v-on:click="remove(file.id,file.filename)" type="button" class="btn btn-danger">
                                删除<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" th:fragment="listLog">
        <table class="table table-hover" id="listLog">
            <caption>日志列表</caption>
            <tbody>
            <tr v-for="log in logs">
                <td>
                    <table class="table" style="background-color: rgba(0, 0, 0, 0);">
                        <tbody>
                        <tr>
                            <pre :style="log.success?'background-color: rgba(50, 205, 50, 0.7);':'background-color: rgba(255, 99, 71, 0.7);'"><code>{{ log.log }}</code></pre>
                        </tr>
                        <tr>
                            <td>任务日期</td>
                            <td><code>{{ new Date(log.date).format("yyyy-MM-dd hh:mm:ss") }}</code></td>
                        </tr>
                        <tr>
                            <td>目标</td>
                            <td>
                                <pre><code>{{ log.targetName }}</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>路径日期</td>
                            <td><code>{{ new Date(log.pathDate).format("yyyy-MM-dd") }}</code></td>
                        </tr>
                        <tr>
                            <td>描述</td>
                            <td><code>{{ log.description }}</code></td>
                        </tr>
                        <tr>
                            <td>任务</td>
                            <td><code>{{ log.taskName }}</code></td>
                        </tr>
                        <tr>
                            <td>结果</td>
                            <td><code>{{ log.success }}</code></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row" style="text-align: center" th:fragment="pagination">
        <ul id="pagination" class="pagination">
            <li v-for="page in pages" v-on:click="flipPage(page.url)" :class="page.current?'active':''"><a>{{ page.name
                }}</a></li>
        </ul>
    </div>


    <div class="row" th:fragment="loginForm">

        <div class="page-header">
            <h1>
                mycloud后台管理登录
                <small th:if="${param.error}">
                    账号或密码错误
                </small>
                <small th:if="${param.logout}">
                    你已经注销
                </small>
            </h1>
        </div>
        <form th:action="@{/login}" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>


    <div class="row" th:fragment="tail">
        <div style="text-align: center;padding: 2%;margin-top: 2%;background-color: rgba(255, 140, 0, 0.7);">
            <p>我的文件床 mycloud</p>
            <p>2018-04-10 mongodb版本</p>
        </div>
    </div>

    <div th:fragment="top">
        <a class="bottom" onclick="$('html,body').animate({scrollTop: $(document).height()}, 1000);">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </a>
        <a class="top" onclick="$('html,body').animate({scrollTop: 0}, 1000);">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </a>
    </div>

</div>

<div th:fragment="publicJs">
    <script id="publicJs">
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ?
                        (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        };
    </script>
    <script th:src="@{/js/jquery-3.2.1.min.js}" src="/mycloudmongo/static/js/jquery-3.2.1.min.js"
            type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="/mycloudmongo/static/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/vue.js}" src="/mycloudmongo/static/js/vue.js"></script>
    <script th:src="@{/js/public.js}" src="/mycloudmongo/static/js/public.js"></script>
</div>
<div th:fragment="privateJs">
    <script th:src="@{/js/private.js}" src="/mycloudmongo/static/js/private.js"></script>

    <input th:value="@{/api/createFilePackagePages}" id="createFilePackagePages" type="hidden"/>
    <input th:value="@{/api/findFilePackages}" id="findFilePackages" type="hidden"/>
    <input th:value="@{/api/createTaskPages}" id="createTaskPages" type="hidden"/>
    <input th:value="@{/api/findTasks}" id="findTasks" type="hidden"/>
    <input th:value="@{/api/synchronize}" id="synchronize" type="hidden"/>
    <input th:value="@{/api/restoreFilePackageById}" id="restoreFilePackageById" type="hidden"/>
    <input th:value="@{/api/backupFilePackageById}" id="backupFilePackageById" type="hidden"/>
    <input th:value="@{/api/removeFilePackageById}" id="removeFilePackageById" type="hidden"/>
    <input th:value="@{/api/backupAllFilePackage}" id="backupAllFilePackage" type="hidden"/>
    <input th:value="@{/api/restoreAllFilePackage}" id="restoreAllFilePackage" type="hidden"/>
</div>
<script>
    /*<![CDATA[*/
    var page = getUrlParam('page');
    if (page != null && page != '') {
        console.log('page: ' + page);
    } else {
        window.location.href = "?page=1";
    }

    var paginationVue = createPaginationVue();
    var pages = [
        {
            "name": "首页",
            "url": "1",
            "current": true
        },
        {
            "name": "1",
            "url": "1",
            "current": true
        },
        {
            "name": "2",
            "url": "2",
            "current": false
        },
        {
            "name": "3",
            "url": "3",
            "current": false
        },
        {
            "name": "尾页",
            "url": "3",
            "current": false
        }
    ];
    paginationVue.loadData({result: true, data: pages});

    var listLogVue = createListLogVue();
    var logs = [
        {
            "targetName": "/root/5accdcbc773f0.jpg",
            "pathDate": 1504886400000,
            "description": "游戏人生",
            "taskName": "insert file",
            "log": "FilePackage{file=/root/5accdcbc773f0.jpg, pathDate=Sat Sep 09 00:00:00 CST 2017, filename='5accdcbc773f0.jpg', description='游戏人生', id='5accdcbc773f0', uploadDate=Sun Apr 08 23:04:44 CST 2018, length=303486, contentType='image/jpeg', md5='5accdcbc773f0', url='https://i.loli.net/2018/04/10/5accdcbc773f0.jpg'}",
            "success": true,
            "date": 1523201065207
        },
        {
            "targetName": "/root/5accdcbcb1738.jpg",
            "pathDate": 1504886400000,
            "description": "少女终末旅行",
            "taskName": "	insert http url",
            "log": "fail download http url: https://i.loli.net/2018/04/10/5accdcbc773f0.jpg",
            "success": false,
            "date": 1523201065207
        }
    ];
    listLogVue.loadData({result: true, data: logs});

    var listFileVue = createListFileVue();
    var files = [
        {
            "file": "/root/5accdcbc773f0.jpg",
            "pathDate": 1504886400000,
            "filename": "5accdcbc773f0.jpg",
            "description": "游戏人生",
            "id": "5accdcbc773f0",
            "uploadDate": 1523199884051,
            "length": 311057,
            "contentType": "image/jpeg",
            "md5": "c6fc17759a72c90a9c16cc62dd0bb8f1",
            "url": "https://i.loli.net/2018/04/10/5accdcbc773f0.jpg"
        },
        {
            "file": "/root/5accdcbcb1738.jpg",
            "pathDate": 1504886400000,
            "filename": "5accdcbcb1738.jpg",
            "description": "少女终末旅行",
            "id": "5accdcbcb1738",
            "uploadDate": 1523199884068,
            "length": 293388,
            "contentType": "image/jpeg",
            "md5": "2b9b46fc176195a9d80ea0c205e2915e",
            "url": "https://i.loli.net/2018/04/10/5accdcbcb1738.jpg"
        }
    ];
    listFileVue.loadData({result: true, data: files});
    /*]]>*/
</script>

</body>
</html>